// global variables
// access from any vue file
// set here only variables, mixins
// but not styles

$app_width: 2736px;
$app_height: 1824px;

$orange_color: #F26F21;

$header_height: 250px;




$menu_size: 100px; // height
$backdrop_color: rgba($color: #444444, $alpha: 0.8);

$margin_space: 20px;

$modal_body_bg: white;
