@font-face {
	font-family: 'SourceSansPro';
	src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
	font-family: 'SourceSansPro';
	font-weight: bold;
	src: url('./assets/fonts/SourceSansPro-Bold.ttf');
}
@font-face {
	font-family: 'SourceSansPro-Semibold';
	src: url('./assets/fonts/SourceSansPro-Semibold.ttf');
}
@font-face {
	font-family: 'StolzlLight';
	src: url('./assets/fonts/Stolzl Light.ttf');
}


// @font-face {
// 	font-family: 'AkzidenzGrotesk';
// 	src: url('./assets/fonts/AkzidenzGroteskStd-Regular.otf') format('otf');
// }
